.navbar{
    background-color: #343a40;
}

.navbar .navbar-brand {
    color: #ffffff;
}

.navbar .nav-link {
    color: #ffffff;
}

@media (max-width: 576px) {
    .navbar .nav-link  {
        text-align: center;
        padding: 10px;
    }
}